/*-------------- tag -----------------*/
.tag{
	display: inline-flex;
	align-items: center;
	height: 2.4rem;
	padding: 0 10px;
	border-radius: 1.2rem;
	border: 1px solid $color-green;
	@include font(none, 500, 1.3rem, 1, $color-green);

	&_red{
		border-color: $color-red;
		color: $color-red;
	}
}

.table-company{
	display: flex;
	align-items: center;
	gap: 10px;

	&__img{
		display: inline-flex;
		align-items: center;
		justify-content: center;
		flex-shrink: 0;
		width: 28px;
		height: 28px;
		border-radius: 50%;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
}