extends ../layout/main

block variables
	- var title = 'Create company';
	- 
		var pagelist = [
			{href: 'create-company.html',name:'Create company'},
			{href: 'tipografika.html',name:'Typography'},
		];

block content
	section.create-company
		.create-company__content
			.create-company__title Create your first campaign

			.steps
				.steps__item.active
					span.steps__num 1
				.steps__item.active
					span.steps__num 2
				.steps__item.active
					span.steps__num 3
				.steps__item.active
					span.steps__num 4
				.steps__item.active
					span.steps__num 5
				.steps__item.active.current
					span.steps__num 6

			form.form-site
				.form-site__content
					.form-site__item
						.form-site__label Notes
						
						textarea(placeholder="E.g. only for skinny ladies") Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy

				.form-site__btn
					button.btn Create
		