extends ../layout/main

block variables
	- var title = 'Settings';
	- var main_color = 'grey';

block content
	section.settings
		ul.left-menu
			-
				var list=[
					{icon:'ic-briefcase', icon_width:'15', icon_height:'15', text:'Business'},
					{icon:'ic-wallet', icon_width:'17', icon_height:'16', text:'Billing'},
					{icon:'ic-link', icon_width:'17', icon_height:'10', text:'Integrations'},
					{icon:'ic-note', icon_width:'17', icon_height:'17', text:'Leads Statuses'},
					{icon:'ic-notice', icon_width:'16', icon_height:'18', text:'Notifications Settings', status:'active'},
				]
			each item in list
				li.left-menu__item(class=item.status?item.status:'')
					.left-menu__icon
						+svg(item.icon, item.icon, item.icon_width, item.icon_height)
					.left-menu__text= item.text

		.settings__wrap
			.settings__content(style="width: 870px")
				.settings__title Notifications settings

				.table-site-wrap.table-site-wrap_white
					table.table-site
						thead
							tr
								th.table-site__head
									.table-site__head-content Send notifications when

								th.table-site__head
									.table-site__head-content.table-site__head-content_center Push

								th.table-site__head
									.table-site__head-content.table-site__head-content_center Email

								th.table-site__head
									.table-site__head-content.table-site__head-content_center SMS

						tbody
							-
								var list=[
									{title:'Inattention lead', check1:'false', check2:'false', check3:'false'},
									{title:'Payment received', check1:'true', check2:'true', check3:'true'},
									{title:'Campaign started', check1:'true', check2:'true', check3:'true'},
									{title:'Campaign ended', check1:'true', check2:'true', check3:'true'},
									{title:'Affiliator connection request', check1:'false', check2:'false', check3:'false'},
									{title:'SMS package is about to get ended', check1:'true', check2:'true', check3:'true'},
									{title:'Calls plan reached out', check1:'true', check2:'true', check3:'true'},
									{title:'Lating employee', check1:'true', check2:'true', check3:'true'},
									{title:'Missing employee', check1:'false', check2:'false', check3:'false'},
									{title:'Employee ended early', check1:'true', check2:'true', check3:'true'},
									{title:'str1', check1:'true', check2:'true', check3:'true'},
									{title:'str2', check1:'true', check2:'true', check3:'true'},
									{title:'str3', check1:'true', check2:'true', check3:'true'},
									{title:'New campaign from favorite company', check1:'true', check2:'true', check3:'true'},
								]
							each item in list
								tr
									td
										if(item.title == 'str1')
											|Employee made less
											span.table-site-count 20
											| calls in range of
											span.table-site-count.table-site-count_dark 20
											| minutes/hours/days/month
										else if(item.title == 'str2')
											|Lead status changed to
											span.table-site-count 20
											| or changed from
											span.table-site-count 60
											| to
											span.table-site-count 80
										else if(item.title == 'str3')
											|Double lead in range of minutes/hours/days/month
											span.table-site-count 20
										else if(item.title == 'str4')
										else
											= item.title
									td.text-center
										label.input-check
											if(item.check1 == 'true')
												input(type='checkbox', checked="checked")
											else
												input(type='checkbox')
											span.input-check__mark
												+svg('ic-tick','ic-tick', '8', '6')
									td.text-center
										label.input-check
											if(item.check2 == 'true')
												input(type='checkbox', checked="checked")
											else
												input(type='checkbox')
											span.input-check__mark
												+svg('ic-tick','ic-tick', '8', '6')
									td.text-center
										label.input-check
											if(item.check3 == 'true')
												input(type='checkbox', checked="checked")
											else
												input(type='checkbox')
											span.input-check__mark
												+svg('ic-tick','ic-tick', '8', '6')

					