.header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-shrink: 0;
	gap: 30px;
	height: 90px;
	border-bottom: 1px solid rgba(0,0,0,0.16);
	padding: 5px 30px;

	&__content{
		display: flex;
		align-items: center;
		gap: 25px;
	}
}

.google-acc{
	display: inline-flex;
	align-items: center;
	gap: 18px;

	&__icon{flex-shrink: 0;}

	&__text{
		@include font(none, none, 2rem, 1.2, #000);
	}

	&__arr{
		.icon{fill: rgba(0,0,0,0.2);}
	}
}

.header-auth{
	display: inline-flex;
	align-items: center;

	&__img{
		display: inline-flex;
		align-items: center;
		justify-content: center;
		flex-shrink: 0;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		margin-right: 5px;
	}

	&__name{
		@include font(none, 500, 1.5rem, 1.2, #000);
	}

	&__mail{
		@include font(none, none, 1.4rem, 1.2, #8A919F);
	}

	&__arr{
		margin-left: 15px;
		.icon{fill: rgba(0,0,0,0.2);}
	}
}

.header-action{
	display: flex;
	align-items: center;
	gap: 38px;
	margin-left: 20px;

	&__item{
		flex-shrink: 0;
		cursor: pointer;

		.icon{
			fill: #000;
			transition: opacity 0.2s ease 0s;
		}
	}

	&__item:hover .icon{opacity: 0.5;}
}

.timer-btn{
	display: inline-flex;
	align-items: center;
	gap: 7px;
	height: 4.4rem;
	border-radius: 2.2rem;
	border: 1px solid #EFEFF4;
	@include font(none, 500, 1.3rem, none, #000);
	padding: 0 20px;

	.icon{
		fill: #000;
		flex-shrink: 0;
	}

	&__end{
		font-weight: 500;
		color: $color-red;
		margin-left: 18px;
	}
}