header.header
	.google-acc
		.google-acc__icon
			img(src="assets/img/google_plus.svg", alt="")

		.google-acc__text Google

		.google-acc__arr
			+svg('ic-arrow-down','ic-arrow-down', '11', '6')

	.header__content
		if(header_timer)
			.timer-btn
				+svg('ic-clock','ic-clock', '13', '13')
				|04:40
		else
			.btn.btn_green
				+svg('ic-briefcase','ic-briefcase', '15', '15')
				|Start shift

		.header-auth
			.header-auth__img(style="background-image: url(assets/img/woman.png)")

			.header-auth__info
				.header-auth__name Jhon Doe
				.header-auth__mail Jhon@bono.com

			.header-auth__arr
				+svg('ic-arrow-down','ic-arrow-down', '11', '6')

		.header-action
			.header-action__item
				+svg('ic-msg','ic-msg', '21', '20')

			.header-action__item
				+svg('ic-notice','ic-notice', '18', '21')