include ../utils/mixins
block variables

doctype html
html(lang='ru')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title #{title}

	body(class=no_scroll?'no-scroll':'')
		.wrapper
			if(sidebar != 'hide')
				include ./sidebar

			.wrapper__content
				if(header != 'hide')
					include ./header
				
				main(class=main_color?'bg-grey':'')
					block content

			block model
